body {
    margin-top: 50px;
}

#div_gameHolder {
    width:100%
}

#div_gameCanvas {
    width:800px;
    height:600px;
    margin:0 auto;
}

#div_controlsHolder {
    margin-top:30px;
    width:100%;
}

#div_controlsBar {
    margin:0 auto;
    width:800px;
}
