body {
    margin-top: 50px;
}

#div_editor {
    margin:0 auto;
    margin-top: 50px;
    width: 1100px;
    height: 300px;
}

#div_mainHolder {
    width:100%;
}

#div_mainCenter {
    width:1100px;
    margin:0 auto;
}

#div_controlInformation {
    display: inline-block;
    width: 270px;
    vertical-align:top;
}

#div_inputType {
}

#div_gameCanvas {
    display: inline-block;
    width: 825px;
}

/*Status Bar Stuff*/

#div_statusHolder {
    width:100%;
}

#div_columnContainer {
    width:1100px;
    margin:0 auto;
}
.ScrollingBox {
    width:535px;
    height:300px;
    padding:5px;
    overflow-y:scroll;
    background-color:#EEEEEE;
}

.StatusColumn {
    display:inline-block;
    width: 545px;
    margin:0 auto;
}

/*End Status Bar Stuff*/

.headerText {
    font-weight:bold;
}