body {
    margin-top: 50px;
}

#div_editor {
    margin:0 auto;
    margin-top: 50px;
    width: 1100px;
    height: 300px;
}

#div_mainHolder {
    width:100%;
}

#div_mainCenter {
    width:1100px;
    margin:0 auto;
}

#div_controlInformation {
    display: inline-block;
    width: 270px;
    vertical-align:top;
}

#div_inputType {
}

#div_gameCanvas {
    display: inline-block;
    width: 825px;
}

.headerText {
    font-weight:bold;
}
