body {
    margin-top: 100px;
    margin-bottom: 100px;
}

.IDE {
    display:inline-block;
    width: 750px;
    height: 700px;
}

#div_container {
    width:1100px;
    margin:0 auto;
}

#div_mainHolder {
    width:1100px;
    margin:0 auto;
}

#div_controlInformation {
    display: inline-block;
    width: 270px;
    vertical-align:top;
}

#div_gameCanvas {
    width: 825px;
    margin:0 auto;
}

#div_uploadWarnings {
    color: #FF0000;
    text-align:center;
}

.headerText {
    font-weight:bold;
}

.tab_select {
    display:inline-block;
    padding:3px;
    width: 150px;
    color:#000000;
    border:2px solid black;
    border-bottom:1px solid black;
    font-weight:bold;
}

.tab_noselect {
    display:inline-block;
    padding:3px;
    width: 150px;
    color:#000000;
    border:1px solid black;
}

.tab_noselect:hover, .tab_select:hover {
    background-color:#EFEFEF;
    cursor:pointer;
    
}

.main_tab {
    width:1080px;
    border:1px solid black;
    padding:10px;
}

.main_tab_hidden{
    display:none;
}

.main_left {
    display:inline-block;
    vertical-align:top;
    width:300px;
}

#btn_undoTurn {
    display:inline-block;
}

#btn_nextTurn {
    display:inline-block;
}

#div_GameDisplayButtons {
    text-align: center;
}

.compilerErrors {
    width:100%;
    border:2px red;
    color: red;
}

#loading {
    width: 270px; 
    height: 40px; 
    text-align:center;
    font-weight:bold;
    padding-top: 10px;
    background: url('../images/spinner.gif') no-repeat;
}

#div_currentPlayer {
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
}

.green {
    color:chartreuse;
}

.red {
    color:red;
}