body {
    margin:0;
}

#container {
    margin: 0 auto;
    width: 960px;
}

.studentName {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_studentAbout {
    width: 960px;
    margin: 5px;
}

.div_studentInfo {
    font-size: 16px;
}