
.studentName {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#23527E;
}

.div_studentAbout {
    width: 940px;
    margin: 10px;
}

.studentInfo {
    font-size: 18px;
    padding-left:20px;
}

.linkedInInfo {
    font-weight: bold;
}

#aboutUsHeader {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#23527E;
}