body {
    margin:0;
}

#container {
    margin: 0 auto;
    width: 960px;
}

.studentName {
    font-weight: bold;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div_studentAbout {
    width: 940px;
    margin: 10px;
}

.studentInfo {
    font-size: 16px;
    padding-left:20px;
}